<div id="{{modal_id}}" style="width:{{width}}px;margin-left:{{margin_left}}px;" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    {% block header %}
      override this header block
    {% endblock %}
  </div>
  <div class="modal-body">
    {% block body %}overwrite this body block{% endblock %}
  </div>
  <div class="modal-footer">
    {% block footer %}
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    {% endblock %}
  </div>
</div>

<!-- dialog is added to the DOM and now needs to be registered -->
<script type="text/javascript">
  {% block js %}
    $("#{{modal_id}}").modal();
    $('.modal-footer-submit').on('click', function(e){
      e.preventDefault();
      $('#{{modal_id}} > .modal-body > form').submit();
    });

    function hide_modal() {
      $('.modal').modal('hide');
    }
  {% endblock %}
</script>
