{% load simain %}

<table id="isles" class="table table-bordered fixed">
  <thead>
    <tr>
      <th id="date-heading"></th>
      {% for isle in isles %} 
        <th><a href="#" data-sniper="{% url 'dialog_isle_info' %}?id={{isle.id}}">{{isle.name}}</a></th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for on_date in tasks %}
    <tr class="{% for p in on_date.props %}{{p}} {% endfor %}">
      <td class="date-col">
        {% smart_date on_date.date %}
      </td>
      {% for tasks in on_date.tasks %}
        <td class="{% if tasks %}nonempty{% endif %} task-col">
          {% for task in tasks %}
            <a href="#" data-sniper="/dialogs/view_task/?id={{task.id}}">{{task.name}}</a>
            <br />
          {% endfor %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

<script>
</script>
