{% extends "simain/base.html" %}
{% load staticfiles %}

{% block css %}
  <link href="{% static 'simain/resources/css/home.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block uncontained %}
<div id="hero">
  <div class="container">
    <div class="span6 left center">
      <h1>6isle</h1>
    </div>
    <div class="span6 right center">
      <a href="/register/" class="btn btn-large btn-success">Sign Up Now!</a>
    </div>
  </div>
</div>
<div class="space"></div>
<div id="hero-2">
</div>
{% endblock %}
