{% extends "simain/base.html" %}

{% block css %}
  <link href="/static/resources/css/login.css" type="text/css" rel="stylesheet" />
{% endblock %}


{% block container %}
  <h2>Login</h2>
  <form method="POST" action="{% url 'async_login' %}" data-sniper="true">
    {% csrf_token %}
    <p id="messages"></p>
    <label>username</label>
    <br />
    <input type="text" name="username" />
    <br />
    <label>password</label>
    <br />
    <input type="password" name="password" />
    <br />
    <input type="submit" />
  <form />
{% endblock %}
