{% extends "simain/base.html" %}
{% load staticfiles %}

{% block css %}
  <link href="{% static 'simain/resources/css/login.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}


{% block container %}
  <div id="login" class="center">
    {% if next %} 
      <h4 id="sorry">Sorry, you must be logged in to view this page.</h4>
    {% endif %}
    <h2>Login</h2>
    <form method="POST" action="{% url 'async_login' %}" data-sniper="true">
      {% csrf_token %}
      {{form.email}}
      <br />
      {{form.password}}
      <br />
      <button class="btn btn-success" type="submit" >login</button>
      {{form.next}}
    <form />
  </div>
{% endblock %}
