{% extends "simain/base.html" %}
{% load staticfiles %}

{% block css %}
  <link href="{% static 'simain/resources/css/register.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}


{% block container %}
  <h2>Register</h2>
  <form method="POST" action="{% url 'async_register' %}" data-sniper="true">
    {% csrf_token %}
    <br />
    {{form.email}}
    <br />
    {{form.password1}}
    <br />
    {{form.password2}}
    <br />
    <input class="btn btn-success" type="submit" value="register" />
  <form />
{% endblock %}
